@model IEnumerable<Relea>



<div class="container">
    <div class="row">
        <div class="col-12 m-2 font-weight-bold text-center"> News List</div>

        <div class="col-6">
            <a asp-action="Create" asp-controller="relea" class="btn btn-warning m-2">Create new New</a>
        </div>
        <br>
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered  ">
                <thead>
                    <tr>

                        <th>Title</th>
                        <th>Topic</th>
                        <th>Image</th>
                        <th>Date</th>
                        <th> Category Name</th>
                        <th>Operation</th>
                      


                      

                    </tr>
                </thead>
                <tbody> 
                    @foreach (var relea in Model)
                    {
                        <tr>
                          
                            <td width="7%" >@relea.Title</td>
                            <td width="40%">@relea.Topic</td>
                            <td width="7%">@relea.Image</td>
                            <td width="7%" >@relea.date</td>
                            <td width="10%">
                                <select disabled class="form-control bg-white" asp-items="ViewBag.ProprId">@relea.Prop</select>
                            </td>

                            <td width="35%">
                                <a asp-controller="Relea" asp-action="Update" asp-route-id="@relea.Id" class="btn btn-warning">Edit</a>
                                <a asp-controller="Relea" asp-action="Delete" asp-route-id="@relea.Id" class="btn btn-warning">Delete</a>

                            </td>



                        </tr>
                    }

                </tbody>
            </table>
        }
        else
        {
            <h4>No New yet</h4>
        }


    </div>
</div>

